CONFIG_ARCH_MULTI_V6=y
CONFIG_ARCH_S3C64XX=y
CONFIG_MACH_SMDK6410=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_S3C=y
CONFIG_EXT3_FS=y


#### add for mount: mdev: unknown user/group 'root:root' on line 11
CONFIG_TMPFS=y



#### net driver dm9000
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_ETHERNET=y
CONFIG_DM9000=y


#### root nfs
CONFIG_INET=y
CONFIG_IP_PNP=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_NFS_FS=y
CONFIG_ROOT_NFS=y



#### lcd
##device
CONFIG_S3C_DEV_FB=y
## lcd controller driver
CONFIG_FB=y
CONFIG_FB_S3C_EXT=y
CONFIG_FB_S3C_EXT_TFT480272=y
CONFIG_FB_S3C_EXT_BPP=y
CONFIG_FB_S3C_EXT_BPP_16=y
CONFIG_FB_S3C_EXT_NUM=1
CONFIG_FB_S3C_EXT_VIRTUAL_SCREEN=y
CONFIG_FB_S3C_EXT_DOUBLE_BUFFERING=y
## lcd module driver
CONFIG_LCD_WXCAT43=y
#console
CONFIG_FRAMEBUFFER_CONSOLE=y
